/*   
  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#0f2c64;
    padding-top: 20px;
  }
  
  .sidebar a {
    text-decoration: none;
    font-size: 15px;
    padding: 8px;
    color: #ffff;
    display: block;
    font-weight: 400;
  }
  .sidebar li{
    list-style-type: none;
   margin-right: 30px;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar h2 {
    color: white;
    text-align: center;
  } */

  /* Default styles for the sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0f2c64;
    padding-top: 20px;
  }
  
  .sidebar a {
    text-decoration: none;
    font-size: 15px;
    padding: 8px;
    color: #ffff;
    display: block;
    font-weight: 400;
  }
  
  .sidebar li {
    list-style-type: none;
    margin-right: 30px;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar h2 {
    color: white;
    text-align: center;
  }
  
  /* Responsive styles for screens with a width of 768 pixels or less */
  @media only screen and (max-width: 768px) {
    .sidebar {
        width: 250px;
    }
  
    .sidebar li {
      margin-right: 0;
    }
  }
  